	<style >
.container {
  width: 70%;
  background: #eee;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

.block {
  background: #DCDCDC;
  height: 100px;
  width: 100px;
  display:inline-block;
  margin: 10px;
}

</style>

<div class="container">
   
        <div class="block">1. name of the project<br/><a href="#" class="feature-content-link red-btn">Button Red</a></div><!--
     --><div class="block">2. name of the project</div><!--
     --><div class="block">3. name of the project</div><!--
     --><div class="block">4. name of the project</div><!--
     --><div class="block">5. name of the project</div><!--
     --><div class="block">6. name of the project</div><!--
     --><div class="block">7. name of the project</div><!--
     --><div class="block">8. name of the project</div>
</div>
<!-- Start Feature Area -->
		<section id="feature-area" class="about-section">
			<div class="container">
				<div class="row text-center inner">
					<div class="col-sm-4">
						<div class="feature-content">
							<h2 class="feature-content-title green-text">Bootstrap v3.3.6</h2>
							<p class="feature-content-description">Morbi sagittis justo a velit placerat ullamcorper quis quis velit. Sed convallis at risus ullamcorper auctor. Praesent quis velit neque. Quisque semper porta nisi vitae suscipit. Duis lectus magna, ornare ac scelerisque.
							</p>
							<a href="#" class="feature-content-link green-btn">button green</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">
							<h2 class="feature-content-title blue-text">Responsive Design</h2>
							<p class="feature-content-description">Conquer Template is provided by templatemo for free of charge. You can use this template for any kind of website. No credit link is required. All images by <a href="http://unsplash.com" target="_parent">Unsplash</a>. Thank you for visiting our website. Please come again!</p>                    
							<a href="#" class="feature-content-link blue-btn">See Details</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">
							<h2 class="feature-content-title red-text">Parallax Layout</h2>
							<p class="feature-content-description">Morbi sagittis justo a velit placerat ullamcorper quis quis velit. Sed convallis at risus ullamcorper auctor. Praesent quis velit neque. Quisque semper porta nisi vitae suscipit. Duis lectus magna, ornare ac scelerisque.
							</p>
							<a href="#" class="feature-content-link red-btn">Button Red</a>
						</div>
					</div>
				</div>
			</div>
		</section>